<div id="map" class="map-container"></div>

<div class="dialog-backdrop" *ngIf="showFilterDialog">
    <div class="dialog-box">

        <button class="dialog-close-btn" (click)="closeFilterDialog()">×</button>

        <h3>🎯 Поиск по категориям</h3>

        <div class="category-list scrollable-category-list">
            <label *ngFor="let cat of categories" class="category-item">
                <input type="checkbox" [checked]="selectedCategories.includes(cat)"
                    (change)="toggleCategory(cat, $any($event.target).checked)" />
                {{ cat }}
            </label>
        </div>

        <div class="dialog-buttons">
            <button class="btn-apply" (click)="applyFilters()">Применить</button>
            <button class="btn-clear" (click)="clearFilters()">Сбросить</button>
        </div>

    </div>
</div>