<app-pagination [currentPage]="sharedCurrentPageNumber" [totalPages]="sharedTotalPages" [pageSize]="sharedPageSize"
    (pageChange)="goToPage($event)" (pageSizeChange)="onPageSizeChange($event)">
</app-pagination>

<div class="task-table-container" *ngIf="tasks.length > 0">
    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
            <tr>
                <th>#</th>
                <th>Task Name</th>
                <th>Status</th>
                <th>Cron Expression</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of getTasksSortedByStatus(); let i = index">
                <td class="table-column">{{ i + 1 }}</td>
                <td class="table-column">
                    <a href="#task-info" data-bs-toggle="modal" data-bs-target="#taskInfoModal" class="task-link"
                        (click)="viewTaskDetails(task, $event)">{{ task.name }}</a>
                </td>
                <td class="table-column task-status">
                    <span
                        [ngClass]="{'status-active': task.status.toString() === 'ACTIVE', 'status-paused': task.status.toString() === 'PAUSED'}">
                        {{ task.status }}
                    </span>
                </td>
                <td class="table-column">
                    {{task.cronExpression}}
                </td>
                <td class="table-column task-buttons-column">
                    <div class="task-buttons">
                        <button class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#taskStartedModal"
                            (click)="runTask(task)">Run
                            Now</button>
                        <button class="btn btn-warning btn-sm" data-bs-toggle="modal"
                            data-bs-target="#taskStatusUpdatedModal" (click)="updateTaskStatus(task)">
                            {{ task.status.toString() === 'ACTIVE' ? 'Pause' : 'Resume' }}
                        </button>
                        <button class="btn btn-danger btn-sm" data-bs-toggle="modal" data-bs-target="#taskDeletedModal"
                            (click)="deleteTask(task)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Modals -->
<app-task-info-modal [selectedTask]="selectedTask"></app-task-info-modal>

<app-schedule-action-result-modal [modalId]="`taskStartedModal`" [modalTitle]="`Task Start`"
    [modalBody]="successMessage | async" [modalErrorMessage]="modalErrorMessage | async"
    [taskScheduleActionIsCompleted]="taskScheduleActionIsCompleted"></app-schedule-action-result-modal>

<app-schedule-action-result-modal [modalId]="`taskStatusUpdatedModal`" [modalTitle]="`Task Status Update`"
    [modalBody]="successMessage | async" [modalErrorMessage]="modalErrorMessage | async"
    [taskScheduleActionIsCompleted]="taskScheduleActionIsCompleted"></app-schedule-action-result-modal>

<app-schedule-action-result-modal [modalId]="`taskDeletedModal`" [modalTitle]="`Task Deletion`"
    [modalBody]="successMessage | async" [modalErrorMessage]="modalErrorMessage | async"
    [taskScheduleActionIsCompleted]="taskScheduleActionIsCompleted"></app-schedule-action-result-modal>