<div class="task-table-container">
    <table class="table table-bordered table-hover">
        <thead class="table-secondary">
            <tr>
                <th>#</th>
                <th>Task Name</th>
                <th>Status</th>
                <th>Cron Expression</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let task of tasks; let i = index">
                <td class="table-column">{{ i + 1 }}</td>
                <td class="table-column">
                    <a href="#" class="task-link" (click)="viewTaskDetails(task, $event)">{{ task.name }}</a>
                </td>
                <td class="table-column task-status">
                    <span
                        [ngClass]="{'status-active': task.status.toString() === 'ACTIVE', 'status-paused': task.status.toString() === 'PAUSED'}">
                        {{ task.status }}
                    </span>
                </td>
                <td class="table-column">
                    {{task.cronExpression}}
                </td>
                <td class="table-column">
                    <div class="task-buttons">
                        <button class="btn btn-success btn-sm" (click)="runTask(task)">Run Now</button>
                        <button class="btn btn-warning btn-sm" (click)="updateTaskStatus(task)">
                            {{ task.status.toString() === 'ACTIVE' ? 'Pause' : 'Resume' }}
                        </button>
                        <button class="btn btn-danger btn-sm" (click)="deleteTask(task.id)">Delete</button>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Task Details Modal -->
<div class="modal-backdrop" *ngIf="selectedTask">
    <div class="modal-content">
        <div class="modal-header">
            <h3>{{ selectedTask.name }}</h3>
        </div>
        <p><strong>Status:</strong> {{ selectedTask.status }}</p>
        <p *ngIf="selectedTask.description"><strong>Description:</strong> {{ selectedTask.description }}</p>
        <p><strong>Task ID to execute:</strong> {{ selectedTask.taskIdToExecute }}</p>
        <p><strong>Cron Expression:</strong> {{ selectedTask.cronExpression }}</p>
        <div class="modal-footer">
            <button class="btn btn-secondary" (click)="closeTaskDetails()">Close</button>
        </div>
    </div>
</div>