<div class="tasks-page">
    <app-in-progress-process-spinner
        [actionsAreCompleted]="[fetchForTableInitIsCompleted]"></app-in-progress-process-spinner>

    <app-tasks-table [tasksIdsResponse]="tasksIdsResponse"></app-tasks-table>

    <app-error-message [errorMessage]="errorMessage"></app-error-message>

    <app-empty-results [tasks]="tasksIdsResponse" [errorMessage]="errorMessage"
        [fetchForTableInitIsCompleted]="fetchForTableInitIsCompleted"></app-empty-results>
</div>