<div class="tasks-page">
    <div class="loading-spinner">
        <app-in-progress-process-spinner
            [actionsAreCompleted]="[fetchForTableInitIsCompleted]"></app-in-progress-process-spinner>
    </div>

    <app-pagination [currentPage]="sharedPageNumber" [pageSize]="sharedPageSize" [totalPages]="sharedTotalPages"
        (pageChange)="goToPage($event)" (pageSizeChange)="onPageSizeChange($event)">
    </app-pagination>

    <app-tasks-table [tasksIdsResponse]="tasksIdsResponse"></app-tasks-table>

    <app-success-message [successMessage]="successMessageFromChild"></app-success-message>

    <app-error-message [errorMessage]="errorMessage"></app-error-message>

    <app-empty-results [tasks]="tasksIdsResponse" [errorMessage]="errorMessage"
        [fetchForTableInitIsCompleted]="fetchForTableInitIsCompleted"></app-empty-results>
</div>