<nav class="navbar navbar-expand-md navbar-dark bg-dark px-4">
    <!-- Logo (Linked to Home) -->
    <a class="navbar-brand d-flex align-items-center text-white" routerLink="/home" routerLinkActive="active">
        <img src="assets/common/event_web_app_icon.png" alt="Event Radar" class="logo">
        <span class="nav-text nav-text-gap">Event Radar</span>
    </a>

    <!-- Hamburger Menu Button (Appears on small screens) -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar Links (Collapsible on smaller screens) -->
    <div class="collapse navbar-collapse justify-content-start" id="navbarNav">
        <ul class="navbar-nav nav-links">
            <li class="nav-item flex-grow-2 text-star nav-link-gap">
                <a class="nav-link" routerLink="/events" routerLinkActive="active">Events</a>
            </li>
            <li class="nav-item flex-grow-2 text-start nav-link-gap">
                <a class="nav-link disabled-link" routerLink="/mapview" routerLinkActive="active">Map View (coming
                    soon)</a>
            </li>
        </ul>
    </div>
</nav>