<div class="modal fade" [id]="modalId" tabindex="-1" [attr.aria-labelledby]="modalId + 'Label'" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form (ngSubmit)="onSubmit()">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" [id]="modalId + 'Label'">{{ modalTitle }}</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="mb-3">
                        <label class="form-label">Task Name</label>
                        <input class="form-control" [(ngModel)]="taskSchedule.name" name="name" required />
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Description</label>
                        <textarea class="form-control" [(ngModel)]="taskSchedule.description"
                            name="description"></textarea>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Cron Expression</label>
                        <input class="form-control" [(ngModel)]="taskSchedule.cronExpression" name="cronExpression"
                            required />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create Task</button>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>