<div class="card h-100 shadow-sm" style="width: 18rem;">
    <img [src]="imageSrc" (load)="onImageLoad()" (error)="onImageError($event)" class="card-img-top" alt="Event image"
        style="height: 240px; object-fit: cover;" />
    <div class="card-header bg-light fw-bold text-truncate" style="height: 50px;" title="{{ event.title }}">
        {{ event.title }}
    </div>
    <div class="card-body d-flex flex-column" style="height: 200px;">
        <p class="card-text mb-1">
            <strong>Дата:</strong> {{ event.dateStr }}
        </p>
        <p class="card-text mb-1" *ngIf="event.priceStr">
            <strong>Цена:</strong> {{ event.priceStr }}
        </p>
        <p class="card-text mb-1">
            <strong>Категория:</strong> {{ event.category }}
        </p>
        <p class="card-text mb-1">
            <strong>Город:</strong> {{ event.location.city }} ({{ event.location.country }})
        </p>
        <a [href]="event.eventLink" class="btn btn-outline-primary btn-sm mt-auto align-self-start" target="_blank"
            rel="noopener noreferrer">
            Подробнее
        </a>
    </div>
</div>