.task-table-container {
  width: 80%;
  margin: auto;
  padding: 20px;
}

.table-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

.task-link {
  text-decoration: none;
  font-weight: bold;
  color: #0066ff;
  cursor: pointer;
}

.task-link:hover {
  text-decoration: underline;
  color: #ac20fd;
}

.task-status {
  text-align: center;
}

.status-active {
  color: green;
  font-weight: bold;
}

.status-paused {
  color: rgb(117, 117, 117);
  font-weight: bold;
}

.task-buttons {
  display: flex;
  justify-content: center; /* Centers the buttons */
  gap: 10px; /* Adds spacing between buttons */
}

.task-buttons button {
  flex: 1; /* Ensures equal width for all buttons */
  min-width: 90px; /* Prevents buttons from being too small */
  max-width: 100px; /* Prevents buttons from being too large */
  padding: 8px 12px;
  text-align: center;
}

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  text-align: start;
}

.table-column {
  background-color: aliceblue;
}
