<div class="event-radar-home-info">
    <h2>🎉 Events</h2>
    <p>
        Not sure what to do this weekend? 😅 Event Radar is here to help! It brings together events from trusted
        platforms like AfishaRelax and ByCard — all in one place.
    </p>
    <p>
        What you’ll love:
    <ul>
        <li><strong>🎯 All-in-One:</strong> Concerts, cinema, exhibitions, and more — pulled from top local sources.
        </li>
        <li><strong>🔍 Easy Filters:</strong> Find the perfect event by category or source in seconds.</li>
        <li><strong>⚡ Instant Inspiration:</strong> Great for last-minute plans or just browsing what’s happening
            nearby.</li>
    </ul>
    <p>
        No more switching between sites — just open Event Radar and dive into the fun! 🎊
    </p>

    <a class="btn btn-secondary home-section-btn" routerLink="/events" routerLinkActive="active" tabindex="0">
        Explore events 🚀
    </a>
</div>