.map-page {
  height: 100vh; /* Fill the screen height */
  padding: 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

app-event-map {
  flex: 1; /* Take remaining vertical space in .map-page */
  width: 100%;
}
