<div class="scheduler-home-info">
    <h2>Scheduler</h2>
    <p>
        The Scheduler is a powerful tool designed to manage the state of your tasks and control their execution
        schedule. It allows you to perform actions such as running tasks immediately, pausing, resuming, or deleting
        them. The Scheduler provides the flexibility to have multiple schedules for a single task
    </p>
    <p>
        Key features of the Scheduler:
    <ul>
        <li><strong>Task Management:</strong> Run tasks instantly, pause, resume, or delete tasks with ease.</li>
        <li><strong>Multiple Schedules:</strong> Create multiple schedules for a single task, allowing for better
            control
            over the timing of task executions.</li>
        <li><strong>Task Control:</strong> Pause a schedule for one task while running another, then resume the paused
            schedule whenever necessary.</li>
    </ul>
    <p>
        This feature ensures that you can
        manage task execution with precision and control, making your task management process smooth and efficient.
    </p>

    <a class="btn btn-secondary home-section-btn" routerLink="/scheduler" routerLinkActive="active" tabindex="0">Go to
        Scheduler</a>
</div>