<div class="scheduler-home-info">
    <h2>Scheduler</h2>
    <p>
        The **Scheduler** is a powerful tool to help you organize and manage your tasks efficiently. Whether for
        personal use, work assignments, or project deadlines, it allows you to stay on track and meet your goals.
    </p>
    <p>
        With the Scheduler, you can easily create tasks, set deadlines, and receive notifications. The intuitive
        calendar view helps you visualize your day, week, or month, ensuring you’re always on top of your schedule.
    </p>
    <p>
        Features include:
    <ul>
        <li><strong>Task Creation:</strong> Add one-time or recurring tasks with deadlines and priorities.</li>
        <li><strong>Reminders:</strong> Set notifications to remind you of important tasks.</li>
        <li><strong>Collaborative Scheduling:</strong> Share tasks and collaborate with others.</li>
    </ul>
    <p>
        Stay organized and never miss a deadline again with the **Scheduler**—perfect for individuals and teams alike.
    </p>
    <a class="btn btn-secondary home-section-btn" routerLink="/scheduler" routerLinkActive="active" tabindex="0">Go to
        Scheduler</a>
</div>