<div class="tasks-home-info">
    <h2>Tasks</h2>
    <p>
        The Tasks section allows you to manage and schedule predefined tasks that are already implemented on the server.
        These tasks are designed to execute specific logic (e.g., syncing the database) after a designated time
        interval, ensuring your system remains up-to-date without manual intervention.
    </p>
    <p>
        Key features include:
    <ul>
        <li><strong>Task Scheduling:</strong> Create schedules for predefined tasks and ensure they run automatically at
            specific times.</li>
        <li><strong>Task Execution:</strong> Trigger tasks to run at designated times, such as syncing the database or
            executing other repetitive processes.</li>
        <li><strong>Task Management:</strong> View, manage, and update task schedules to ensure everything runs as
            expected.
        </li>
    </ul>
    <p>
        With the Tasks feature, you can easily create schedules for tasks, assign them to run at specified times, and
        ensure that important background operations (like database synchronization) are executed automatically.
    </p>

    <a class="btn btn-secondary home-section-btn" routerLink="/tasks" routerLinkActive="active" tabindex="0">Go to
        Tasks</a>
</div>