<div class="tasks-home-info">
    <h2>Tasks</h2>
    <p>
        The **Tasks** section allows you to manage and track your tasks in a simple, organized way. Whether it's
        personal goals, work-related duties, or group projects, Tasks makes it easy to keep everything in check.
    </p>
    <p>
        With this feature, you can add new tasks, assign deadlines, and mark them as complete once finished. It's
        designed to help you focus on what matters and boost productivity.
    </p>
    <p>
        Key features include:
    <ul>
        <li><strong>Task Management:</strong> Easily create, update, and delete tasks.</li>
        <li><strong>Priority Levels:</strong> Assign priorities to tasks for better organization.</li>
        <li><strong>Status Tracking:</strong> Keep track of task progress and completion.</li>
    </ul>
    <p>
        Stay productive and organized with the **Tasks** section, designed to keep you on top of everything.
    </p>
    <a class="btn btn-secondary home-section-btn" routerLink="/tasks" routerLinkActive="active" tabindex="0">Go to
        Tasks</a>
</div>